<div class="about-container">
  <div class="app-about">
    <h1 class="app-name">MineRLData</h1>
  </div>
  <div class="descriptions-about">
    <h2 class="page-descriptions">About the System:</h2>
    <p>
      We’ve developed a system for analyzing Minecraft gameplay using the MineRL
      database, which holds extensive data from various player missions, such as
      building a house or crafting a diamond pickaxe. This database is vast and
      complex, making it difficult to access. Our system simplifies access
      through a user-friendly website that offers customizable analysis of this
      high-volume data (around 10 TB), enabling users to draw insights about
      player behavior.
    </p>
    <p>
      Our client, Roni Stern, and the SPL Lab at Ben-Gurion University,
      specialize in algorithm development in multi-agent planning, particularly
      focusing on the STRIP multi-agent model and solving multi-agent
      pathfinding problems. Minecraft provides an intriguing environment for
      this research due to its virtual world where players have significant
      freedom to explore and interact.
    </p>
    <p>
      The project utilizes technologies like Angular, Node.js, Express etc. to
      facilitate this system. This system enhances research capabilities by
      making it easier to analyze and interpret player behaviors in a complex
      and dynamic environment.
    </p>
  </div>
  <div class="developers-about">
    <h2 class="developers">Developers:</h2>
    <ul class="developers-list">
      <li>Shira Sorek</li>
      <li>Ron Shukron</li>
      <li>Noa Brosh</li>
      <li>Liel Caspi</li>
    </ul>
  </div>
</div>
