<div class="about-container">
  <div class="app-about">
    <h1 class="app-name">Application Name</h1>
    <p class="app-goal">This app's goal is to...</p>
  </div>
  <div class="descriptions-about">
    <h2 class="page-descriptions">Description for Each Page:</h2>

    <ul class="component-list">
      <li>Dataset - ...</li>
      <li>Single Game - ...</li>
      <li>MP4 - ...</li>
    </ul>
  </div>
  <div class="developers-about">
    <h2 class="developers">Description about the Developers:</h2>
    <p class="developers-list">Noa, Ron, Shira, Liel...</p>
  </div>
</div>
