.container {
  display: flex;
  justify-content: space-between;
}

.left-column {
  flex: 1;
  height: 100%;
}

.middle-column {
  flex: 4;
  margin: 5rem 0 0 5rem;
  font-size: 3rem;
  font-family: Roboto, sans-serif;
}
